<h2>Portadores</br><small>Cartão de Pagamento do Governo Federal</small></h2>
<br/>
<div class="row">
  <div class="col-sm-12">
    <form action="/portadores" class="form-inline" role="form">
      <div class="form-group">
        <input size="60" type="text" placeholder="Pesquisar nome" class="form-control" id="name" name="name" value="<%= @search_term %>">
      </div>
      <button type="submit" title="Pesquisar" class="btn btn-primary"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
    </form>
  </div>
</div>
<br/>
<table class="table table-hover">
  <thead>
    <tr>
      <th class="col-sm-7">Nome</th>
      <th class="col-sm-3">Documento de identificação</th>
      <th class="col-sm-2">Total gasto</th>
    </tr>
  </thead>
  <tbody>
    <% @people.each do |person| %>
        <tr>
            <td><%= link_to person.name.nil?? 'NÃO INFORMADO': person.name, person_path_url(person.id) %></td>
            <td><%= person.masked_document %></td>
            <td><%= number_to_currency(person.total) %></td>
        </tr>
    <% end %>   
  </tbody>
</table>
<div class="digg_pagination">
  <%= will_paginate @people, :container => false %>
</div>