<%
  title = "Portadores"
  description = "Pessoas que realizaram transações usando o Cartão de Pagamento do Governo Federal."
  set_meta_tags description: description,
                 keywords: "portadores cartão corporativo, gastos cartão corporativo, portadores cartão pagamento governo",
                 title: title,
                 og: { title: title, description: description },
                 twitter: { description: description } %>
<h2>Portadores<br/>
<small>Cartão de Pagamento do Governo Federal</small></h2>
<br/>
<div class="row">
  <div class="col-sm-12">
    <form action="/portadores" class="form-inline" role="form">
      <div class="form-group">
        <input size="60" type="text" placeholder="Pesquisar nome" class="form-control" id="name" name="name" value="<%= @search_term %>">
      </div>
      <button type="submit" title="Pesquisar" class="btn btn-primary"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
    </form>
  </div>
</div>
<br/>
<% if @people.length == 0 %>
  <p>Nenhum portador foi encontrato com o termo "<%= @search_term %>"</p>
<% else %>
  <table class="table table-hover">
    <thead>
      <tr>
        <th class="col-sm-6 col-xs-7">Nome</th>
        <th class="col-sm-3 hidden-xs">Documento de identificação</th>
        <th class="col-sm-3 col-xs-5">Total gasto</th>
      </tr>
    </thead>
    <tbody>
      <% @people.each do |person| %>
          <tr>
              <td class="col-sm-7 col-xs-8"><%= link_to person.name, person_path_url(person) %></td>
              <td class="col-sm-3 hidden-xs"><%= person.masked_document %></td>
              <td class="col-sm-2 col-xs-4"><%= number_to_currency(person.total_transactions) %></td>
          </tr>
      <% end %>   
    </tbody>
  </table>
  <%= will_paginate @people, :container => false, renderer: BootstrapPagination::Rails %>
  <br/>
  <p class="text-muted">*Informações protegidas por sigilo, nos termos da legislação, para garantia da segurança da sociedade e do Estado.</p>
<% end %>