<div class="row">
  <div class="col-md-8">
    <h2><%= @person.name.nil?? "NÃO INFORMADO" : @person.name %></br>
      <small>Portador
      <% if @person.masked_document.present? %>
        (CPF <%= @person.masked_document %>)
      <% end %> 
      </small>
    </h2>
  </div>
  <div class="col-md-4">
    <span class="total-summary">
      <h3>~ <%= number_to_currency(@monthly_average) %>/mês
        <small><br/>Total <%= number_to_currency(@total_spent) %></small>
      </h3>
    </span>
  </div>
</div>
<div class="row">
  <div class="col-sm-6">
    <% if @management_unit.present? %>
    <p>Unidade gestora: <%= @management_unit %></p>
    <% end %>
  </div>  
  <div class="col-sm-6">
    <% if @subordinated_organ.present? %>
    <p>Órgão subordinado: <%= @subordinated_organ %></p>
    <% end %>
    <% if @superior_organ.present? %>
    <p>Órgão superior: <%= @superior_organ %></p>
    <% end %>
  </div>
</div>
<br/>

<p>Transações realizadas 
<% if !@first_transaction_date.nil? && !@last_transaction_date.nil? && (@first_transaction_date != @last_transaction_date) %>
de <%= @first_transaction_date.strftime("%d/%m/%Y") %> a <%= @last_transaction_date.strftime("%d/%m/%Y") %>
(<%= distance_of_time_in_words(@first_transaction_date, @last_transaction_date) %>)
<% end %>
</p>
<table class="table table-hover">
  <thead>
    <tr>
      <th class="col-sm-1">Data</th>
      <th class="col-sm-9">Favorecido</th>
      <th class="col-sm-2">Valor</th>
    </tr>
  </thead>
  <tbody>
    <% @transactions.each do |transaction| %>
        <tr>
            <td><%= transaction.date.strftime("%d/%m/%Y") %></td>
            <td><%= link_to transaction.favored_name.nil?? "NÃO INFORMADO (#{transaction.transaction_type.description})": transaction.favored_name, favored_path_url(transaction.favored_id) %></td>
            <td><%= number_to_currency(transaction.value) %></td>
        </tr>
    <% end %>   
  </tbody>
</table>
<div class="digg_pagination">
  <%= will_paginate @transactions, :container => false %>
</div>
<br/>
