<%
  title = "Gastos - #{@person.name}"
  description = "Valores gastos por #{@person.name} em transações feitas usando o Cartão de Pagamento do Governo Federal (CPGF)."
  set_meta_tags description: description,
                 keywords: "#{@person.name}, gastos cartão corporativo",
                 title: title,
                 og: { title: title, description: description },
                 twitter: { description: description } %>
<div class="row">
  <div class="col-md-8">
    <h2>
      <%= @person.name %><br/>
      <small>Portador
      <% if @person.masked_document.present? %>
        (CPF <%= @formatted_document %>)
      <% end %> 
      </small>
    </h2>
  </div>
  <div class="col-md-4">
    <span class="total-summary">
      <h3>
        <small>GASTOS</small><br/>
        ~ <%= number_to_currency(@monthly_average) %>/mês
        <small><br/><%= number_to_currency(@person.total_transactions) %>
          <% if @first_transaction_date != @last_transaction_date %>
          em <%= distance_of_time_in_words(@first_transaction_date, @last_transaction_date) %>
          <% end %>
        </small>
      </h3>
    </span>
  </div>
</div>
<br/>
<hl/>
<div class="row">
  <div class="col-sm-6">
    <% if @management_unit.present? %>
      <p>Unidade gestora: <%= link_to @management_unit.first.name, management_unit_path_url(@management_unit.first.id) , title: @management_unit.first.name %>
          <% if @management_unit.size > 1 %>
            <a href="#" data-toggle="modal" data-target="#modalUnidadeGestora"><%= "(e #{@management_unit.size-1} outros)" %></a>
              <%= render 'layouts/management_units_modal', modal_id: "modalUnidadeGestora", data: @management_unit %>
          <% end %>
      </p>
    <% end %>
  </div>  
  <div class="col-sm-6">
    <% if @subordinated_organ.present? %>
      <p>Órgão subordinado: <%= @subordinated_organ.first %>
        <% if @subordinated_organ.size > 1 %>
          <a href="#" data-toggle="modal" data-target="#modalSubordinados"><%= "(e #{@subordinated_organ.size-1} outros)" %></a>
            <%= render 'layouts/organs_modal', title: "Órgãos subordinados", modal_id: "modalSubordinados", data: @subordinated_organ %>
        <% end %>
      </p>
    <% end %>
    <% if @superior_organ.present? %>
      <p>Órgão superior: <%= @superior_organ.first %>
          <% if @superior_organ.size > 1 %>
            <a href="#" data-toggle="modal" data-target="#modalSuperiores"><%= "(e #{@superior_organ.size-1} outros)" %></a>
              <%= render 'layouts/organs_modal', title: "Órgãos superiores", modal_id: "modalSuperiores", data: @superior_organ %>
          <% end %>
      </p>
    <% end %>
  </div>
</div>
<br/>

<p>Transações realizadas 
<% if !@first_transaction_date.nil? && !@last_transaction_date.nil? && (@first_transaction_date != @last_transaction_date) %>
de <%= @first_transaction_date.strftime("%d/%m/%Y") %> a <%= @last_transaction_date.strftime("%d/%m/%Y") %>
(<%= distance_of_time_in_words(@first_transaction_date, @last_transaction_date) %>)
<% end %>
</p>
<table class="table table-hover">
  <thead>
    <tr>
      <th class="col-md-1 col-sm-2 col-xs-3">Data</th>
      <th class="col-md-6 col-sm-4 col-xs-5">Favorecido</th>
      <th class="col-md-3 col-sm-4 hidden-xs">Transação</th>
      <th class="col-sm-2 col-xs-4">Valor</th>
    </tr>
  </thead>
  <tbody>
    <% @transactions.each do |transaction| %>
        <tr>
            <td><%= transaction.hidden_date?? transaction.date.strftime("?*/%m/%y") : transaction.date.strftime("%d/%m/%y") %>
            <td><%= link_to transaction.favored_name, favored_path_url(transaction.favored), title: transaction.favored_name %></td>
            <td class="hidden-xs" title="<%= transaction.transaction_type_friendly_description || transaction.transaction_type_description %>"><%= transaction.transaction_type_friendly_description || transaction.transaction_type_description %></td>
            <td>
              <span class="left"><%= number_to_currency(transaction.value) %></span><span class="row-details"><a href="<%= transaction_path_url(transaction) %>" title="Detalhes"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></a></span>
            </td>
        </tr>
    <% end %>   
  </tbody>
</table>
<%= will_paginate @transactions, :container => false, renderer: BootstrapPagination::Rails %>
<br/>
<p class="text-muted">*Informações protegidas por sigilo, nos termos da legislação, para garantia da segurança da sociedade e do Estado.</p>