<%
  title = "Transações"
  description = "Transações feitas usando o Cartão de Pagamento do Governo Federal (CPGF)."
  set_meta_tags description: description,
                 keywords: "transações cartão corporativo, gastos cartão corporativo, transações cartão pagamento governo",
                 title: title,
                 og: { title: title, description: description },
                 twitter: { description: description } %>
<h2>Transações<br/>
<small>Cartão de Pagamento do Governo Federal</small></h2>
</br>
<p></p>
<table class="table table-hover">
  <thead>
    <tr>
      <th class="col-md-1 col-sm-2 col-xs-3">Data</th>
      <th class="col-sm-4 hidden-xs">Portador</th>
      <th class="col-md-5 col-sm-4 col-xs-5">Favorecido</th>
      <th class="col-sm-2 col-xs-4">Valor</th>
    </tr>
  </thead>
  <tbody>
    <% @transactions.each do |transaction| %>
        <tr>
            <td><%= transaction.hidden_date?? transaction.date.strftime("?*/%m/%y") : transaction.date.strftime("%d/%m/%y") %>
            <td class="hidden-xs"><%= link_to transaction.person_name, person_path_url(transaction.person_id) %></td>
            <td><%= link_to transaction.favored_name, favored_path_url(transaction.favored_id), title: transaction.favored_name %></td>
            <td><span class="left"><%= number_to_currency(transaction.value) %></span><span class="row-details"><a href="<%= transaction_path_url(transaction) %>" title="Detalhes"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></a></span></td>
        </tr>
    <% end %>   
  </tbody>
</table>
<%= will_paginate @transactions, :container => false, renderer: BootstrapPagination::Rails %>
<br/>
<p class="text-muted">*Informações protegidas por sigilo, nos termos da legislação, para garantia da segurança da sociedade e do Estado.</p>