<%
  title = "Transação"
  description = "Transação feita por #{@transaction.person_name} usando o Cartão de Pagamento do Governo Federal (CPGF) no valor de #{number_to_currency(@transaction.value)}."
  set_meta_tags description: description,
                 keywords: "transação cpgf, gastos cartão corporativo",
                 title: title,
                 og: { title: title, description: description },
                 twitter: { description: description } %>
<% flash.each do |message_type, message| %>
  <div class="alert alert-<%= message_type %>"><%= message %></div>
<% end %>
<div class="row">
  <div class="col-md-8">
    <h2>Transação<br/><small>Cód. <%= @transaction.id %></small></h2>
  </div>
  <div class="col-md-4">
    <span class="total-summary">
      <h3>
        <small>VALOR</small><br/>
        <%= number_to_currency(@transaction.value) %>
      </h3>
    </span>
  </div>
</div>
<br/>
<hl/>
<div class="row">
  <div class="col-sm-5 col-xs-12">
    Data: <%= @transaction.hidden_date?? @transaction.date.strftime("?*/%m/%Y") : @transaction.date.strftime("%d/%m/%Y") %><br/>
    Portador: <%= link_to @transaction.person_name, person_path_url(@transaction.person), title: @transaction.person_name %><br/>
    Favorecido: <%= link_to @transaction.favored_name, favored_path_url(@transaction.favored), title: @transaction.favored_name %><br/>
    Tipo da transação: <%= @transaction.transaction_type_friendly_description || @transaction.transaction_type_description %>
  </div>  
  <div class="col-sm-7 col-xs-12">
    Unidade Gestora: <%= link_to @transaction.management_unit_name, management_unit_path_url(@transaction.management_unit) , title: @transaction.management_unit_name %><br/>
    Órgão Subordinado: <%= @transaction.subordinated_organ_name %><br/>
    Órgão Superior: <%= @transaction.superior_organ_name %>
  </div>
</div>
<hl/>
<br/>
<h4>Fonte</h4>
<p>Dados referentes ao exercício de <%= l(@transaction.source.reference, format: "%B de %Y").downcase %>, publicados pelo <%= link_to 'Portal da Transparência', 'http://www.portaltransparencia.gov.br/downloads/mensal.asp?c=CPGF', title: "Portal da Transparência" %> por meio deste <%= link_to 'arquivo', "http://arquivos.portaldatransparencia.gov.br/downloads.asp?a=#{@transaction.source.reference.year}&m=#{sprintf('%02d',@transaction.source.reference.month)}&consulta=CPGF", title: "arquivo" %>.</p>
<br/>
<button type="button" class="btn btn-danger" data-toggle="modal" data-target="#suspect-modal" title="Comunicar suspeita">Comunicar suspeita</button>
<!-- Modal -->
<div class="modal fade" id="suspect-modal" tabindex="-1" role="dialog" aria-labelledby="suspect-modal-label">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="suspect-modal-label">Comunicar Suspeita</h4>
      </div>

      <%= form_tag '', :name => "suspect-form", :id => 'suspect-form', :role => "form" do %>
        <input type="hidden" name="suspect_report[transaction_id]" value="<%= @transaction.id %>"/>
        <div class="modal-body">
          <p>Caso tenha alguma dúvida sobre a legitimidade dessa transação, preencha o formulário abaixo para que ela seja analisada.</p>
          <div class="form-group">
            <label class="sr-only" for="nome">Nome (opcional)</label>
            <input maxlength="64" type="text" class="form-control" name="suspect_report[name]" id="nome" placeholder="Nome (opcional)" pattern="^[A-z ]{1,}$" data-error="Nome inválido">
            <div class="help-block with-errors"></div>
          </div>
          <div class="form-group">
            <label class="sr-only" for="email">E-mail (opcional)</label>
            <input maxlength="80" data-minlength="5" name="suspect_report[email]" type="email" class="form-control" id="email" placeholder="Email (opcional)" data-error="E-mail inválido">
            <div class="help-block with-errors"></div>
          </div>
          <div class="form-group">
            <label class="sr-only" for="descricao">Descreva sua suspeita</label>
            <textarea maxlength="500" data-minlength="50" class="form-control" name="suspect_report[description]" id="descricao" rows="6" placeholder="Por que você suspeita que essa transação possa ser irregular?" required data-error="Descreva a sua suspeita (no mínimo 50 caracteres)"></textarea>
            <div class="help-block with-errors"></div>
            <p class="right" id="count">500 caracteres restantes.</p>
          </div>
        </div>
        <div class="modal-footer">
          <span id="modal-buttons">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
            <button type="submit" id="submit-button" class="btn btn-primary">Enviar</button>
          </span>
          <span id="sending-label" class="hidden">
            <button type="button" class="btn btn-disabled" >Enviando...</button>
          </span>
        </div>
      <% end %>
    </div>
  </div>
</div>
<script>
$('#suspect-modal').on('shown.bs.modal', function () {
  $('#nome').focus();
  $('#suspect-form').validator().on('submit', function (e) {
    if ($('#suspect-form').find('.has-error').length) {
      return false;
    }
    $('#modal-buttons').addClass('hidden');
    $('#sending-label').removeClass('hidden');

    ga('send', {
      hitType: 'event',
      eventCategory: 'form',
      eventAction: 'submit',
      eventLabel: 'envia-suspeita'
    });
  });
});

$("#descricao").keyup(function(){
  $("#count").text((500 - $(this).val().length)+" caracteres restantes.");
});
</script>