<%
  title = "Recebimentos - #{@favored.name}"
  description = "Valores recebidos por #{@favored.name} em transações feitas usando o Cartão de Pagamento do Governo Federal (CPGF)."
  set_meta_tags description: description,
                 keywords: "#{@favored.name}, gastos cartão corporativo, recebimentos cartão corporativo",
                 title: title,
                 og: { title: title, description: description },
                 twitter: { description: description } %>
<div class="row">
  <div class="col-md-8">
    <h2><%= @favored.name %></br>
      <small>Favorecido
        <% if @favored.masked_document.present? %>
          (CNPJ <%= @formatted_document %>)
        <% end %>
      </small>
    </h2>
  </div>
  <div class="col-md-4">
    <span class="total-summary">
      <h3>
        <small>RECEBIMENTOS</small><br/>
        ~ <%= number_to_currency(@monthly_average) %>/mês
        <small><br/><%= number_to_currency(@favored.total_transactions) %>
          <% if @first_transaction_date != @last_transaction_date %>
          em <%= distance_of_time_in_words(@first_transaction_date, @last_transaction_date) %>
          <% end %>
        </small>
      </h3>
    </span>
  </div>
</div>

<br/>
<% if @favored.name == "NÃO INFORMADO" %>
<p>Nome do favorecido não informado por motivo de sigilo* ou pela transação ser saque em dinheiro, nesse caso a destinação dos valores não são publicadas.</p>
<% end %>
<p>Transações recebidas 
<% if !@first_transaction_date.nil? && !@last_transaction_date.nil? && (@first_transaction_date != @last_transaction_date) %>
de <%= @first_transaction_date.strftime("%d/%m/%Y") %> a <%= @last_transaction_date.strftime("%d/%m/%Y") %>
(<%= distance_of_time_in_words(@first_transaction_date, @last_transaction_date) %>)
<% end %>
</p>
<table class="table table-hover">
  <thead>
    <tr>
      <th class="col-md-1 col-sm-2 col-xs-3">Data</th>
      <th class="col-md-6 col-sm-4 col-xs-5">Portador</th>
      <th class="col-md-3 col-sm-4 hidden-xs">Transação</th>
      <th class="col-sm-2 col-xs-4">Valor</th>
    </tr>
  </thead>
  <tbody>
    <% @transactions.each do |transaction| %>
        <tr>
            <td><%= transaction.hidden_date?? transaction.date.strftime("?*/%m/%y") : transaction.date.strftime("%d/%m/%y") %></td>
            <td><%= link_to transaction.person_name, person_path_url(transaction.person), title: transaction.person_name %></td>
            <td class="hidden-xs" title="<%= transaction.transaction_type_description %>"><%= transaction.transaction_type_description %></td>
            <td><%= number_to_currency(transaction.value) %></td>
        </tr>
    <% end %>   
  </tbody>
</table>
<div class="digg_pagination">
  <%= will_paginate @transactions, :container => false %>
</div>
<br/>
<p class="text-muted">*Informações protegidas por sigilo, nos termos da legislação, para garantia da segurança da sociedade e do Estado.</p>
