<%
title = "Cartão de Pagamento do Governo Federal -CPGF"
description = "Essa é uma iniciativa que tem por objetivo tornar os dados fornecidos pelo governo em caráter de Dados Abertos em informações inteligíveis."
set_meta_tags description: description,
keywords: "Sobre CPGF, Cartão de pagamento do governo federal, cartão corporativo",
title: title,
og: { title: title, description: description },
twitter: { description: description } %>
<h2>Cartão de Pagamento do Governo Federal (CPGF)</h2>
</br>
<p>Informações dos pagamentos para aquisição e compras governamentais por meio de cartões de pagamento do Governo Federal, realizados por portadores de órgãos e entidades da Administração Pública Federal, que executam as despesas pelo Sistema Integrado de Administração Financeira do Governo Federal (Siafi).
</p>
<p>Última atualização feita em <%= @last_source.imported_at.strftime("%d/%m/%Y") %> com dados referentes ao mês de <%= l(@last_source.reference, format: "%B de %Y").downcase %>.</p>
<span style="text-align:center">
  <h4><%= link_to "Gasto total por ano", transacoes_path, title: "Gasto total por ano" %></h4>
</span>
<%= high_chart("yearly_total_chart", @yearly_total_chart) %>
</br>
<div class="row">
  <div class="col-md-6 col-sm-12">
    <h4><%= link_to "Quem mais gastou", portadores_path, title: "Portadores que mais gastaram" %></h4>
    <%= render partial: 'layouts/summary_by_person', locals: {data: @summary_by_person} %>
  </div>
  <div class="col-md-6 col-sm-12">
    <h4><%= link_to "Quem mais recebeu", favorecidos_path, title: "Favorecidos que mais receberam" %></h4>
    <%= render partial: 'layouts/summary_by_favored', locals: {data: @summary_by_favored} %>
  </div>
  <div class="col-md-6 col-sm-12">
    <h4>Gastos por tipo de transação</h4>
    <%= render partial: 'layouts/summary_by_transaction_type', locals: {data: @summary_by_transaction_type} %>
  </div>
  <div class="col-md-6 col-sm-12">
    <h4><%= link_to "Gastos por unidade gestora", unidades_gestoras_path, title: "Gastos por unidade gestora" %></h4>
    <%= render partial: 'layouts/summary_by_management_unit', locals: {data: @summary_by_management_unit} %>
  </div>
  <div class="col-sm-12">
  <p class="text-muted">*Informações protegidas por sigilo, nos termos da legislação, para garantia da segurança da sociedade e do Estado.
  </p>
  </div>
</div>
</br>
<div class="row">
  <div class="col-sm-12">
    <%= high_chart("total_by_superior_organ_chart", @total_by_superior_organ_chart) %>
  </div>
</div>


